In [3]:
import numpy as np

students = np.array([
    [67, 94, 65],
    [88, 82, 78],
    [90, 90, 90]])

In [4]:
import pandas as pd

pd.DataFrame(data=students,
             index=['stu1','stu2','stu3'],
             columns=['國文','英文','數學']
             )

      國文  英文  數學
stu1  67  94  65
stu2  88  82  78
stu3  90  90  90

In [ ]:
import numpy as np
import pandas as pd

data = np.random.randint(50,high=101,size=(50, 5))
students = pd.DataFrame(data,
             columns=['國文','英文','數學','地理','探討'])
students