In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.231676 -1.010035
1    a  two -0.496347  0.528990
2    b  one -0.611010 -0.320754
3    b  two -0.133045 -0.184058
4    a  one -0.708082  1.546604

In [ ]:
grouped =df['data1'].groupby(['台北', '台北', '台北', '台中', '台中'])
grouped

In [3]:
grouped.mean()

台中   -0.420563
台北   -0.446344
Name: data1, dtype: float64

In [13]:
df['data1'].groupby(df['key2']).mean()

key2
one   -0.516923
two   -0.314696
Name: data1, dtype: float64

In [14]:
s1 = df['data1'].groupby([df['key1'],df['key2']]).mean()
s1

key1  key2
a     one    -0.469879
      two    -0.496347
b     one    -0.611010
      two    -0.133045
Name: data1, dtype: float64

In [15]:
s1.unstack(level='key1')

key1         a         b
key2
one  -0.469879 -0.611010
two  -0.496347 -0.133045

In [16]:
df.groupby('key1')['data1'].mean()

key1
a   -0.478702
b   -0.372027
Name: data1, dtype: float64

In [17]:
df.groupby('key1')[['data1','data2']].mean()

         data1     data2
key1
a    -0.478702  0.355186
b    -0.372027 -0.252406

In [18]:
df.groupby(['key1','key2'])[['data1','data2']].sum()

              data1     data2
key1 key2
a    one  -0.939758  0.536568
     two  -0.496347  0.528990
b    one  -0.611010 -0.320754
     two  -0.133045 -0.184058